@import './variables';
@import '~@angular/material/theming';

@include mat-core();

// $success: mat-palette(green);

@mixin alertSuccess() {
  background-color: rgba($success, 0.3);
  border: 1px solid darken($success, 5%);
}

@mixin flexInjection() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
