@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.events-component {
  @include flexInjection;
  height: 100%;

  .events-header-wrapper {
    @include flexInjection;
    width: 100%;
    flex-direction: row;

    button {
      margin-left: 15px;
    }
  }

  .events-table {
    text-align: left;

    th.mat-header-cell {
      text-align: center;
    }

    th.mat-header-cell:first-of-type,
    th.mat-header-cell:last-of-type {
      padding: initial;
    }

    td {
      padding: 10px;

      img {
        width: 100%;
        max-width: 70px;
        height: auto;
        max-height: 70px;
        border-radius: 5px;
      }
    }

    .action-cell {
      padding: 3px;

      .remove-item-button {
        &:hover {
          color: $warn;
        }
      }

      .edit-item-button {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
