<div class="events-component">
  <div class="events-header-wrapper">
    <h3>Рассылки</h3>
    <button color="primary" mat-raised-button (click)="onOpenNewEventDialog()">
      Создать
    </button>
  </div>

  <mat-spinner *ngIf="isFetching && !errors.fetchError" diameter="30"></mat-spinner>
  <table *ngIf="events.length > 0" mat-table [dataSource]="events" class="events-table">
    <ng-container matColumnDef="thumb">
      <th mat-header-cell *matHeaderCellDef>Превью</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.thumbUrl" />
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td
        mat-cell
        (ngClass)="(element.status === 'active' ? 'alert alert-success' : '')"
        *matCellDef="let element"
      >
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef>Дата отправки</th>
      <td mat-cell *matCellDef="let element">
        {{ element.scheduledDate | eventDelivery }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Действие</th>
      <td mat-cell *matCellDef="let element" class="action-cell">
        <button class="edit-item-button" mat-icon-button (click)="onEditEvent(eventId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="remove-item-button" mat-icon-button (click)="onOpenRemoveEventDialog(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [color]="element.status === 'active' ? 'warn' : 'accent'"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>fiber_manual_record</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="alert alert-danger" *ngIf="fetchError">
    {{ fetchError }}
  </div>
</div>
