<div mat-dialog-content class="new-event-dialog">
  <h1 mat-dialog-title>{{ data.header }}</h1>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" color="accent">{{ data.cancel }}</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="onConfirmEvent()"
      cdkFocusInitial
    >
      {{ data.action }}
    </button>
  </div>
</div>
