<mat-drawer-container class="sidenav" autosize>
  <mat-drawer #drawer class="sidenav-content" mode="side">
    <img src="../assets/images/user-default.png" alt="пользователь" />
    <h5>
      Приветствуем, <span>{{ sessionData.firstName }} {{ sessionData.lastName }}</span>
    </h5>
    <ul>
      <li
        (ngClass)="(element.status === 'active' ? 'alert alert-success' : '')"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/pages/events"><mat-icon>volume_up</mat-icon>Рассылки</a>
      </li>
      <li
        (ngClass)="(element.status === 'active' ? 'alert alert-success' : '')"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/pages/receivers"> <mat-icon>supervisor_account</mat-icon>Получатели </a>
      </li>
      <li
        (ngClass)="(element.status === 'active' ? 'alert alert-success' : '')"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a routerLink="/pages/groups"> <mat-icon>supervised_user_circle</mat-icon>Группы </a>
      </li>
    </ul>
    <button class="logout-button" (click)="showFiller = !showFiller" mat-raised-button>
      Выход
    </button>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
