@import '../assets/scss/mixins';
@import '../assets/scss/variables';

.sidenav {
  min-width: 300px;
  height: 100%;

  .sidenav-content {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-width: 35px;
      height: auto;
    }

    h5 {
      span {
        color: $golden;
      }
    }
  }

  ul {
    li {
      a {
        @include flexInjection;
        flex-direction: row;
      }
    }
  }

  .logout-button {
    color: $primary;
  }
}
