@import './assets/scss/variables';
@import './assets/scss/mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.admin-container {
  background-image: url('./assets/bg.png');

  .sidenav {
    .mat-drawer-inner-container {
      @include flexInjection;
      align-items: center;
      justify-content: center;

      ul {
        padding: 0;

        li {
          @include flexInjection;
          flex-direction: row;
          justify-content: flex-start;
          height: 50px;
          font-size: 18px;

          .mat-icon {
            margin-right: 5px;
          }

          a {
            text-decoration: none;
            color: white;
          }

          &.active {
            a,
            mat-icon {
              
              font-weight: bold;
              color: lighten($golden, 5%) !important;
            }
          }
        }
      }
    }
  }
}

.alert-success {
  @include alertSuccess;
}

.error-span {
  color: $warn;
  font-size: 14px;
}
