<div class="groups-container">
  <h3>Группы</h3>
  <button color="primary" mat-raised-button (click)="onOpenNewGroupDialog()">
    Создать
  </button>

  <mat-spinner *ngIf="isFetching && !errors.fetchError" diameter="30"></mat-spinner>
  <table *ngIf="groups.length > 0" mat-table [dataSource]="groups" class="groups-table">
    <ng-container matColumnDef="thumb">
      <th mat-header-cell *matHeaderCellDef>Группа</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.group" />
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Действие</th>
      <td mat-cell *matCellDef="let element" class="action-cell">
        <button class="edit-item-button" mat-icon-button (click)="onEditGroup(eventId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          class="remove-item-button"
          mat-icon-button
          (click)="onOpenRemoveDialog(element._id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [color]="element.status === 'active' ? 'warn' : 'accent'"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>fiber_manual_record</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="alert alert-danger" *ngIf="fetchError">
    {{ fetchError }}
  </div>
</div>
