@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.new-event-dialog {
  @include flexInjection;
  width: 100%;
  min-width: 650px;
  max-width: 1200px;
  height: 100%;
  padding: 25px;

  .new-event-form {
    @include flexInjection;
    width: 100%;

    .new-event-title {
      width: 80%;
    }

    .new-event-thumb-url {
      width: 80%;
    }

    .new-event-body {
      width: 100%;
    }

    .delivery-wrapper {
      @include flexInjection;
      flex-direction: column;

      .selectors-delivery-wrapper {
        @include flexInjection;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
