<div mat-dialog-content class="new-event-dialog">
  <h1 mat-dialog-title>Создать новый ивент</h1>
  <form class="new-event-form" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="new-event-title">
      <mat-label>Название</mat-label>
      <input
        matInput
        name="title"
        formControlName="title"
        ngFormControl="title"
        placeholder="Название..."
      />
      <span *ngIf="!eventForm.get('title').valid && eventForm.get('title').touched">
        <span
          class="error-span"
          *ngIf="!eventForm.get('title').valid && eventForm.get('title').errors['required']"
          >{{ eventFormStub.errors.common.required }}</span
        >
        <span class="error-span" *ngIf="eventForm.get('title').errors['minlength']">{{
          eventFormStub.errors.common.minLength(eventFormStub.tolerances.title.minLength)
        }}</span>
        <span
          class="error-span"
          *ngIf="!eventForm.get('title').valid && eventForm.get('title').errors['maxlength']"
          >{{
            eventFormStub.errors.common.maxLength(eventFormStub.tolerances.title.maxLength)
          }}</span
        >
      </span>
    </mat-form-field>

    <mat-form-field class="new-event-thumb-url">
      <mat-label>Ссылка на картинку (можете использовать https://imgbb.com/)</mat-label>
      <input
        matInput
        ngFormControl="thumbUrl"
        formControlName="thumbUrl"
        placeholder="Ссылка..."
        type="text"
        value=""
      />
    </mat-form-field>

    <mat-form-field class="new-event-body">
      <mat-label>Тело ивента</mat-label>
      <textarea formControlName="body" matInput rows="7" placeholder="Текст..."></textarea>
      <span *ngIf="!eventForm.get('body').valid && eventForm.get('body').touched">
        <span
          class="error-span"
          *ngIf="!eventForm.get('body').valid && eventForm.get('body').errors['required']"
          >{{ eventFormStub.errors.common.required }}</span
        >
        <span class="error-span" *ngIf="eventForm.get('body').errors['minlength']">{{
          eventFormStub.errors.common.minLength(eventFormStub.tolerances.body.minLength)
        }}</span>
        <span
          class="error-span"
          *ngIf="!eventForm.get('body').valid && eventForm.get('body').errors['maxlength']"
          >{{
            eventFormStub.errors.common.maxLength(eventFormStub.tolerances.body.maxLength)
          }}</span
        >
      </span>
    </mat-form-field>

    <div class="delivery-wrapper">
      <h3>Выберите дату отправки</h3>
      <div class="delivery-selectors-wrapper">
        <mat-form-field>
          <mat-label>Выберите дату</mat-label>
          <input
            name="scheduleDate"
            id="pickerId"
            matInput
            [matDatepicker]="datepicker"
            [matDatepickerFilter]="pastDateFilter"
            placeholder="{{ placeholderDate }}"
            formControlName="scheduleDate"
            (dateChange)="dateChange($event)"
          />
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker [disabled]="disabled"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Выберите время</mat-label>
          <input
            type="time"
            id="appt"
            matInput
            formControlName="scheduleTime"
            name="scheduleTime"
            required
          />
        </mat-form-field>
      </div>
      <span class="error-span"
        *ngIf="
          (!eventForm.get('scheduleDate').valid &&
            eventForm.get('scheduleDate').touched &&
            eventForm.get('scheduleDate').errors['required']) ||
          (!eventForm.get('scheduleTime').valid &&
            eventForm.get('scheduleTime').touched &&
            eventForm.get('scheduleTime').errors['required'])
        "
        >{{ eventFormStub.errors.common.required }}
      </span>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true" color="accent">Отмена</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        color="primary"
        [disabled]="eventForm.status === 'INVALID' ? true : false"
        type="submit"
        cdkFocusInitial
      >
        Создать
      </button>
    </div>
  </form>
</div>
