<div class="login-block">
    <h1>{{ langs.header }}</h1>
    <div class="login-bg-wrapper">
        <form class="new-event-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="new-event-title">
                <input
                        matInput
                        type="text"
                        formControlName="username"
                        minlength=""
                        [placeholder]="langs.loginPlaceholder"
                        required
                />
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        type="password"
                        formControlName="password"
                        [placeholder]="langs.passwordPlaceholder"
                        minlength="6"
                        required
                />
            </mat-form-field>
            <button
                    mat-button
                    color="primary"
                    [disabled]="loginForm.status === 'INVALID' ? true : false"
                    type="submit"
                    cdkFocusInitial
            >
                {{ langs.enter }}
            </button>
        </form>
        <span *ngIf="wrongCredentials" class="error-span"> {{ langs.form.errors.credentials }}</span>
        <span *ngIf="APIError" class="error-span"> {{ langs.form.errors.apiError }}</span>
    </div>
</div>
<div class="login-footer">
    {{ langs.footer }}
</div>
