@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.login-block {
  @include flexInjection;
  height: 100%;
  width: 100%;
  background-color: white;

  h1 {
    font-weight: 100;
    // color: white;
    // text-shadow: 0 0 2px grey, 0 0 3px grey;
  }

  .login-bg-wrapper {
    @include flexInjection;
    width: 100%;
    max-width: 450px;
    max-height: 370px;
    height: 100%;
    background-image: url('../../assets/images/login-form-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    form {
      margin-top: 20px;
      @include flexInjection;
      flex-direction: column;
      width: 100%;
      max-width: 300px;

      .mat-form-field-flex {
        width: 250px;
        height: 40px;

        input {
          border: 2px solid pink!important;
          background: transparent !important;
          color: grey;
          width: 100%;
          font-size: 18px;
          border-radius: 3px;
          height: 20px;
        }
      }

      button[type='submit'] {
        margin-top: 30px;
        font-size: 18px;
      }
    }
    span.error-span {
      color: white;
      text-shadow: 0 0 2px grey;
    }
  }
}

.login-footer {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 14px;
  color: #e3e3e3;
  position: absolute;
  bottom: 0;
}
